code{
  font-weight: bold;
}
td.nome{
  font-weight: bold;
  vertical-align: top;
}
td{
  text-align: left;
  line-height: 20pt;
}
pre.desc{
  border: 3px solid #999;
  text-align:left;
}
th{
  text-align: center;
  font-size: 28pt;
  font-weight: bold;
}
